<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input matInput placeholder="id" type="text" formControlName="id">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="title" matInput type="text" formControlName="title">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="price" matInput type="number" formControlName="price">
                    </mat-form-field>
                    <div *ngIf="priceField.errors && form.get('price').dirty">
                        <p *ngIf="priceField.hasError('price_invalid')">Esto no es valido</p>
                        <p *ngIf="priceField.hasError('required')">Este campo es requerido</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea placeholder="description" formControlName="description" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <img *ngIf="image$ | async as image" [src]="image" alt="">
                    <input type="file" (change)="uploadFile($event)">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>